/* BASIC STYLES*/
body {
    font-family: 'Merriweather', serif;
    margin: 0;
}
header {
    background-color: #003153;
    text-align: center;
    font-size: 15px;
    color: white;
}

input,
select {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 100%;
}
button {
    width: 100%;
    height: 50px;
    background-color:  rgb(63,175,166);
    color: white;
    font-size: 20px;
    font-family: inherit;
    border-radius: 5px;
    border-style: initial;
}
textarea {
    width: 100%;
    height: 95px;
    resize: none;
    display: block;
    box-sizing: border-box;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 3px;
    background-color:lightgoldenrodyellow;;
}
input[type="text"],
input[type="tel"],
input[type="email"],
select  {
    width: 100%;
    height: 45px;
    display: block;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #eeeeee;
    border:0;
}
footer {
    text-align: center;
    padding-bottom: 100px;
}
fieldset {
    border: none;
    padding-left: 2%;
    padding-right: 2%;
}
input:focus {
    border-color:blue;
}
input[type="checkbox"],
input[type="radio"] {
    width: 18px;
    height: 18px;
}
/*
input[type="checkbox"]:checked,
input[type="radio"]:checked {
    border: 1px solid blue;
} */
/*CLASSIC STYLES*/
legend {
    font-size: 23px; 
    font-weight: bold;
    padding-top: 10%;
    color: #003153;
    padding-bottom: 2%;
    margin-bottom: 0;
}
.second-title {
    color: #003153;
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
}
::placeholder {
    text-align: right;
    font-style: italic;
    padding-right: 5%;
    color: grey;
}
    #zip-code {
    width: 40%;
}
.title,
.main-form {
    display: flex;
    flex-direction: column;
}

.first-paragraph {
    text-align: center;
    margin-top: 0;
    margin-right: 2%;
    margin-bottom: 0;
    margin-left: 3%;
    padding-top: 4%;
    padding-bottom: 8%;
    border-bottom: 5px solid #003153;
    color: grey;
}
.the-form p{
    padding-top: 1.5%;
    color: grey;
}
.top-line {
    border-top: 2px solid #003153;
    margin-top: 2px;
    margin-right: 2%;
    margin-left: 3%;
}
.the-form label {
    color: grey;
}
.second label{
    font-size: 20px;
    margin: auto;
}
.news-main {
    margin-left: 7px;
}

.second,
.btn-signup {
    margin-left: 3%;
    margin-right: 3%;
}
.btn-signup {
    margin-right: 3%;
    margin-bottom: 5%;
}


/*MEDIA QUERIES*/
@media (min-width:768px) {
    main,
    footer {
        width: 70%;
        vertical-align: center;
        margin: auto;
    }
    .news-main2,
    .news-main3 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .news-main2 label,
    .news-main3 label {
        width: 20%; 
        font-size: 12px;
        margin-right: 1%;
    }
    .news-main2 input,
    select {
        width: 79%; 
    }
    #zip-code {
        width: 115px;
    }
}



